


#contact_modal {
    margin-inline : 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 1000;
}
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    padding: 35px;
    max-width: 500px;
    max-height: 800px;
    
    width: 90%;
    @media screen and (max-width: 768px) {
        padding: 10px;
        height: 680px;
    }
    form {
        .contact_button {
            margin-top: 20px;
            width: 200px;
            height: 60px;
            border: none;
            border-radius: 5px;
            background-color: #901C1C;
            color: white;
            font-size: 24px;
            cursor: pointer;
            @media screen and (max-width: 768px) {
                align-self: center;
            }
        }
    }
}

.modal header img {
    cursor: pointer;
    @media screen and (max-width: 768px) {
        width: 30px;
        
    }
}

.modal header h2 {
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    @media screen and (max-width: 768px) {
        font-size: 30px;
        
    }
}

form {
    margin-inline: auto;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
    @media screen and (max-width: 768px) {
        font-size: 24px;
        
    }
}
form .formData {
    margin-top: 20px;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
}


form input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
}

form textarea {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 5px;
}

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 2em;
    color: #e54858;
    display: none;
    
    margin-top: 67px;
    margin-bottom: 7px;
    text-align: left;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    right: 2px;
    @media screen and (max-width: 768px) {
        font-size: 1.5em;
        top: -10px;
    }
    
  }
  .formData[data-error-visible="true"]::after {
    opacity: 1;
    display: block;
  }
  .formData[data-error-visible="true"] textarea, .formData[data-error-visible="true"] input {
    border: 2px solid #e54858;
  }

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    position: relative;
    @media screen and (max-width: 1200px) {
        margin: 0;
    }
    @media screen and (max-width: 768px) {
        height: 50vw;
        padding: 5vw;
        
    }
    
    .photographer {

        &_info {
            &_name {
                color: #D3573C;
                font-size: 4.5vw;
                margin: 0 0 10px 0;
                @media screen and (max-width: 1200px) {
                    font-size: 7vw;
                }
                @media screen and (max-width: 768px) {
                    font-size: 10vw;
                  }
    
    
            }
            &_location {
                color: #901C1C;
                font-size: 1.5vw;
                @media screen and (max-width: 1200px) {
                    font-size: 2.5vw;
                }
                @media screen and (max-width: 768px) {
                    font-size: 4vw;
                  }
    
    
            }
            &_tagline {
                color: #525252;
                font-size: 1.3vw;
                @media screen and (max-width: 1200px) {
                    font-size: 2vw;
                }
                @media screen and (max-width: 768px) {
                    font-size: 3vw;
                  }
    
            }
        }
        &_contact {
            font-size: 20px;
            font-weight: normal;
            color: white;
            padding: 11px;
            width: 170px;
            height: 70px;
            border: none;
            background-color: #901C1C;
            border-radius: 5px;
            cursor: pointer;
            @media screen and (max-width: 1200px) {
                position: absolute;
                top: -80px;
                right: 20px;
            }
            @media screen and (max-width: 768px) {
                width: 30vw;
                font-size: 3vw;
              }
        }
        &_picture {
            height: 15vw;
            width: 15vw;
            border-radius: 50%;
            object-fit: cover;
            @media screen  and (max-width: 1200px) {
                height: 26vw;
                width: 26vw;
            }
            @media screen and (max-width: 768px) {
                height: 34vw;
                width: 34vw;
            }
        }
    }
}

.expo_section {
    display: flex;
    flex-direction: column;
    position: relative;
    .expo_sorter {
        display: flex;
        position: relative;
        flex-direction: row;
        margin-inline: 100px;
        margin-block: 50px;
        @media screen and (max-width: 1200px) {
            margin-inline: 20px;
            
        }

        &_tag {
            font-size: 18px;
            font-weight: bold;
            width: 150px;
        }

        &_select {
            display: none;
        }
        .custom-select {
            position: absolute;
            right: -100px;
            display: flex;
            flex-direction: column;
            width: 210px;
            &-selected {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-size: 20px;
                font-weight: normal;
                color: white;
                padding: 19px;
                width: 200px;
                margin: auto;
                border: none;
                background-color: #901C1C;
                border-radius: 5px;
                cursor: pointer;
                &::after {
                    content: url(../../assets/icons/down-arrow.svg);
                    margin-left: 20px;
                }
                &.open::after {
                    content: url(../../assets/icons/up-arrow.svg);
                }
            }
            &-options {
                display: none;
                position: absolute;
                top: 58px;
                left: 5px;
                // background-color: #901C1C;
                // padding: 10px;
                // padding-inline: 19px;
                // width: 120px;
                // position: absolute;
                // top: 50px;
                // font-size: 20px;
                // font-weight: bold;
                // color: white;
                // border-radius: 5px;
                &-first {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    font-size: 20px;
                    font-weight: normal;
                    color: white;
                    padding: 19px;
                    width: 200px;
                    margin: auto;
                    border: none;
                    background-color: #901C1C;
                    
                    cursor: pointer;
                    &::before{
                        content: "";
                        border-top: white 1px solid;
                        display: block;
                        width: 170px;
                        position: absolute;
                        top: 0;
                        left: 15px;
                    }
                    &::after {
                        content: "";
                        border-top: white 1px solid;
                        display: block;
                        width: 170px;
                        position: absolute;
                        top: 63px;
                        left: 15px;
                    }
                }
                &-second {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    font-size: 20px;
                    font-weight: normal;
                    color: white;
                    padding: 19px;
                    width: 200px;
                    margin: auto;
                    border: none;
                    background-color: #901C1C;
                    border-radius: 0 0 5px 5px;
                    cursor: pointer;
                }
            }
        }
    }
    .expo_wrapper {
        width: 100%;
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        margin: auto;
        gap: 10px;
        width: 90%;
        //centrer le grid

        @media screen and (max-width: 1552px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @media screen and (max-width: 1200px) {
            grid-template-columns: 1fr 1fr;
        }
        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
            width: 100%;
        }
        
    
        &_card {
            color: black;
            text-decoration: none;
            width: 350px;
            @media screen and (max-width: 398px) {
                width: 100%;
                
            }
            &_btn {
                border-radius: 15px;
                padding: 0;
                border: none;
                overflow: hidden;
                height: 300px;
                width: 350px;
                @media screen and (max-width: 398px) {
                    width: 100%;
                    height: 85vw;
                }
                &_img {
                    cursor: pointer;
                    object-fit: cover;
                    height: 300px;
                    width: 350px;
                    @media screen and (max-width: 398px) {
                        width: 100%;
                        height: 85vw;
                    }
                }
            }
            &_info {
                
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                color: #901C1C;
                align-items: center;
                @media screen and (max-width: 398px) {
                    padding-inline: 10px;
                    
                }
                &_title {
                    font-size: 21px;
                    font-weight: lighter;

                }
                &_like { 
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    &_number {
                        font-size: 21px;
                        font-weight: lighter;
                    }
                    &_icon {
                        cursor: pointer;
                        margin-left: 5px ;
                        
                    }

                }
            }
        }
    }
}


#myLightbox {
    filter: blur(0);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    
    .lightbox-content {
        height: 100%;
        margin: 0;
        .mySlides {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            // &:has(img:hover)::before {
            //     content: attr(data-title);
            //     position: absolute;
            //     color: red;
            //     font-size: 2em;
            //     background-color: white;
            //     padding: 10px;

            //     z-index: 2000;
                
            // }
            // &::before {
            //     content: attr(data-title);
            //     position: absolute;
            //     color: red;
            //     font-size: 2em;
            //     background-color: white;
            //     padding: 10px;

            //     z-index: 2000;
                
            // }
            img {
                width: 100%;
                
                height: 100%;
                object-fit: contain;
            }
            
            video {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            .prev {
                position: absolute;
                top: 50%;
                left: 25px;
                cursor: pointer;
                color: transparent;
                &::before {
                    content: url(../../assets/icons/left-icon.svg);
                }
            
            }
            .next {
                position: absolute;
                top: 50%;
                right: 0;
                cursor: pointer;
                color: transparent;
                &::before {
                    content: url(../../assets/icons/right-icon.svg);
                }
            }
            .close {
                position: absolute;
                top: 25px;
                right: 0;
                cursor: pointer;
                color: transparent;
                &::before {
                    content: url(../../assets/icons/close2.svg);
                }
            }
        }
    }
}

.blur {
    filter: blur(1.5rem);
    &.fixed-likes-price {
        display: none;
    }
}

.fixed-likes-price {
    position: fixed;
    bottom: 0;
    right: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    padding: 20px;
    background-color: #DB8876;
    border-radius: 5px 5px 0 0;
    color: black;
    font-size: 24px;
    font-weight: lighter;
    height: 12px;
    width: 280px;
    @media screen and (max-width: 768px) {
        right:0;
        
    }
    .likeTotal {
        margin-inline: 20px;
        margin-block: 0;
    }
    .likeTotal::after {
        content: url(../../assets/icons/like-black.svg);
        position: absolute;
        top: 12px;
        left: 90px;

    }
    .photographer_info_price {
        margin-inline: 20px;
        margin-block: 0;
    }
}



/** CUSTOM SELECT */

  
  .expo_sorter select {
    display: none; /*hide original SELECT element:*/
  }

  .btn {
    &:hover {
        background-color: #DB8876;
        color: black;
    }
    &:focus {
        background-color: #DB8876;
        color: black;
    }
  }

  





  