@import "photographer.scss";

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

#myLightbox {
    display: none;
    
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;

}

h1 {
    color: #901C1C;
}

.logo {
    height: 50px;
    margin-left: 100px;
    @media screen and (max-width: 1200px) {
        margin-left: 20px;
    }
    @media screen and (max-width: 768px) {
        height: 10vw;
    }
}

.photographer_section {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 50px;

    .photographer_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 340px;

        &_img {
            height: 200px;
            width: 200px;
            border-radius: 50%;
            object-fit: cover;
        }

        &_info {
            &_name {
                color: #D3573C;
                font-size: 36px;
                margin-bottom: 0;
            }
            &_location {
                color: #901C1C;
                font-size: 16px;
                margin: 0;
            }
            &_tagline {
                margin: 0;
                color: #000000;
                font-size: 13px;
            }
            &_price {
                margin: 0;
                color: #757575;
                font-size: 12px;
            }
            
        }

    }
    
}