.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
.photograph-header .photographer_info_name {
  color: #D3573C;
  font-size: 64px;
}
.photograph-header .photographer_info_location {
  color: #901C1C;
  font-size: 24px;
}
.photograph-header .photographer_info_tagline {
  color: #525252;
  font-size: 18px;
}
.photograph-header .photographer_contact {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}
.photograph-header .photographer_picture {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.expo_section .expo_sorter {
  display: flex;
  flex-direction: row;
  margin-inline: 100px;
  margin-block: 50px;
}
.expo_section .expo_sorter_tag {
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}
.expo_section .expo_sorter_select {
  width: 120px;
}
.expo_section .expo_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  margin-inline: 120px;
}
.expo_section .expo_wrapper_card {
  color: black;
  text-decoration: none;
  width: 350px;
}
.expo_section .expo_wrapper_card_btn {
  padding: 0;
}
.expo_section .expo_wrapper_card_btn_img {
  cursor: pointer;
  object-fit: cover;
  height: 300px;
  width: 350px;
}
.expo_section .expo_wrapper_card_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #901C1C;
}
.expo_section .expo_wrapper_card_info_title {
  font-size: 24px;
  font-weight: lighter;
}
#myLightbox {
  filter: blur(0);
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
}
#myLightbox .lightbox-content {
  height: 100%;
  margin: 0;
}
#myLightbox .lightbox-content .mySlides {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#myLightbox .lightbox-content .mySlides img {
  width: 100%;
  max-height: 900px;
  object-fit: contain;
}
#myLightbox .lightbox-content .mySlides video {
  width: 100%;
  max-height: 900px;
  object-fit: contain;
}
#myLightbox .lightbox-content .mySlides .prev {
  position: absolute;
  top: 50%;
  left: 0;
  cursor: pointer;
  color: transparent;
}
#myLightbox .lightbox-content .mySlides .prev::before {
  content: url(../../assets/icons/left-icon.svg);
}
#myLightbox .lightbox-content .mySlides .next {
  position: absolute;
  top: 50%;
  right: 0;
  cursor: pointer;
  color: transparent;
}
#myLightbox .lightbox-content .mySlides .next::before {
  content: url(../../assets/icons/right-icon.svg);
}
#myLightbox .lightbox-content .mySlides .close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: transparent;
}
#myLightbox .lightbox-content .mySlides .close::before {
  content: url(../../assets/icons/close2.svg);
}

.blur {
  filter: blur(1.5rem);
}
.blur.fixed-likes-price {
  display: none;
}

.fixed-likes-price {
  position: fixed;
  bottom: 0;
  right: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #DB8876;
  border-radius: 5px 5px 0 0;
  color: black;
  font-size: 24px;
  font-weight: lighter;
}
.fixed-likes-price .likeTotal {
  margin-inline: 20px;
  margin-block: 0;
}
.fixed-likes-price .photographer_info_price {
  margin-inline: 20px;
  margin-block: 0;
}

/*# sourceMappingURL=photographer.css.map */
